# Mosquitto
MQTT_PORT=1883
MQTT_WS_PORT=9001

# Redpanda
REDPANDA_KAFKA_PORT=9092
REDPANDA_ADMIN_PORT=9644
REDPANDA_PANDAPROXY_PORT=8082

# TimescaleDB
POSTGRES_USER=iotuser
POSTGRES_PASSWORD=iotpass
POSTGRES_DB=iotdb
TIMESCALE_PORT=5432